## 引用函式庫 ##

In [1]:
import numpy as np
import pandas as pd

## 資料前處理

In [2]:
input_df = pd.read_csv('bank-additional.csv', header=0, sep=';')

In [3]:
input_df

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
1,39,services,single,high.school,no,no,no,telephone,may,fri,...,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
2,25,services,married,high.school,no,yes,no,telephone,jun,wed,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no
3,38,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,3,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4,47,admin.,married,university.degree,no,yes,no,cellular,nov,mon,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4114,30,admin.,married,basic.6y,no,yes,yes,cellular,jul,thu,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.958,5228.1,no
4115,39,admin.,married,high.school,no,yes,no,telephone,jul,fri,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.959,5228.1,no
4116,27,student,single,high.school,no,no,no,cellular,may,mon,...,2,999,1,failure,-1.8,92.893,-46.2,1.354,5099.1,no
4117,58,admin.,married,high.school,no,no,no,cellular,aug,fri,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.966,5228.1,no
4118,34,management,single,high.school,no,yes,no,cellular,nov,wed,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.120,5195.8,no

In [4]:
how_to_handle_columns = [0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1]
for i, j in enumerate(input_df.columns):
    if (how_to_handle_columns[i] == 0):
        print('{}. {} : {} -> {}\n{}\n\n'.format(i, j, len(set(input_df[j])), '正則化', set(input_df[j])))
    else:
        print('{}. {} : {} -> {}\n{}\n\n'.format(i, j, len(set(input_df[j])), 'One-Hot', set(input_df[j])))

0. age : 67 -> 正則化
{18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 80, 81, 82, 85, 86, 88}


1. job : 12 -> One-Hot
{'technician', 'management', 'services', 'admin.', 'unemployed', 'entrepreneur', 'housemaid', 'unknown', 'blue-collar', 'self-employed', 'student', 'retired'}


2. marital : 4 -> One-Hot
{'divorced', 'single', 'married', 'unknown'}


3. education : 8 -> One-Hot
{'high.school', 'basic.4y', 'unknown', 'illiterate', 'basic.6y', 'university.degree', 'professional.course', 'basic.9y'}


4. default : 3 -> One-Hot
{'yes', 'unknown', 'no'}


5. housing : 3 -> One-Hot
{'yes', 'unknown', 'no'}


6. loan : 3 -> One-Hot
{'yes', 'unknown', 'no'}


7. contact : 2 -> One-Hot
{'telephone', 'cellular'}


8. month : 10 -> One-Hot
{'oct', 'may', 'apr', 'aug', 'dec', 'sep', 'nov', 'jul', 'jun', 'mar'}


9. day_of_week : 5 -> One-Hot
{'mon', 'thu', 'fri', 'tue', 'wed'}


10. duration : 828 -> 正則化
{0, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 2301, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 438, 439, 440, 441, 442, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 463, 464, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 501, 502, 503, 504, 505, 506, 507, 508, 509, 511, 513, 514, 515, 516, 517, 519, 520, 521, 522, 523, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 536, 537, 539, 540, 541, 542, 543, 544, 545, 546, 548, 549, 550, 551, 553, 556, 557, 559, 562, 565, 566, 567, 568, 569, 570, 571, 575, 577, 578, 580, 581, 582, 584, 585, 587, 588, 589, 590, 591, 592, 593, 595, 596, 597, 599, 600, 602, 604, 605, 2653, 606, 608, 609, 607, 611, 614, 616, 617, 618, 619, 620, 621, 623, 624, 626, 627, 628, 629, 630, 632, 633, 634, 636, 637, 638, 640, 641, 643, 644, 645, 646, 649, 650, 651, 653, 655, 657, 658, 659, 662, 663, 665, 667, 668, 671, 673, 674, 675, 677, 679, 681, 683, 686, 687, 688, 689, 690, 693, 696, 697, 698, 699, 700, 701, 702, 704, 705, 706, 711, 712, 713, 715, 716, 718, 720, 721, 722, 723, 725, 726, 727, 728, 738, 739, 740, 742, 747, 748, 749, 750, 754, 757, 758, 760, 762, 764, 766, 767, 768, 769, 770, 771, 772, 775, 776, 780, 781, 782, 784, 789, 796, 797, 799, 800, 801, 802, 805, 806, 807, 809, 813, 814, 815, 818, 820, 823, 825, 829, 834, 835, 837, 838, 840, 843, 846, 848, 849, 854, 855, 857, 861, 867, 868, 869, 873, 879, 881, 882, 886, 888, 891, 892, 894, 895, 898, 901, 903, 919, 938, 941, 951, 952, 955, 958, 979, 980, 984, 988, 992, 996, 997, 999, 1002, 1005, 1009, 1011, 1012, 1013, 1014, 1019, 1045, 1046, 1058, 1062, 1065, 1067, 1068, 1074, 1076, 1087, 1090, 1091, 1092, 1105, 1111, 1114, 1119, 1127, 1128, 1130, 1132, 1135, 1138, 1143, 1148, 1149, 1150, 1152, 1161, 1167, 1170, 1171, 1176, 1183, 1185, 1186, 1190, 1195, 1203, 3253, 1207, 1221, 1234, 1241, 1259, 1276, 254, 1288, 1298, 1300, 1311, 1319, 1327, 1332, 1334, 1340, 1348, 1353, 1357, 1360, 1365, 1386, 1422, 1424, 1432, 1438, 1441, 1447, 1468, 1476, 1551, 1590, 3643, 1602, 1628, 1720, 1806, 1820, 1855, 1868, 1980}


11. campaign : 25 -> 正則化
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 22, 23, 24, 27, 29, 35}


12. pdays : 21 -> One-Hot
{0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 21, 999}


13. previous : 7 -> One-Hot
{0, 1, 2, 3, 4, 5, 6}


14. poutcome : 3 -> One-Hot
{'success', 'failure', 'nonexistent'}


15. emp.var.rate : 10 -> 正則化
{-0.1, 1.1, 1.4, -0.2, -1.8, -1.7, -3.0, -3.4, -2.9, -1.1}


16. cons.price.idx : 26 -> 正則化
{93.798, 92.893, 92.201, 92.649, 92.713, 92.756, 93.369, 93.749, 93.075, 93.994, 93.876, 94.465, 94.199, 94.215, 92.469, 92.843, 94.055, 94.767, 92.963, 94.601, 92.379, 92.431, 93.2, 93.918, 93.444, 94.027}


17. cons.conf.idx : 26 -> 正則化
{-40.3, -40.0, -40.4, -50.0, -49.5, -50.8, -47.1, -46.2, -45.9, -42.0, -41.8, -40.8, -42.7, -39.8, -38.3, -36.1, -37.5, -34.6, -36.4, -34.8, -33.6, -31.4, -29.8, -30.1, -33.0, -26.9}


18. euribor3m : 234 -> 正則化
{0.879, 1.313, 0.639, 1.327, 4.959, 4.191, 4.855, 4.962, 4.153, 4.958, 4.968, 4.859, 4.963, 4.957, 1.25, 1.811, 0.965, 0.869, 0.683, 4.866, 1.244, 1.372, 0.959, 0.834, 0.709, 1.0, 0.677, 1.299, 1.049, 1.799, 0.767, 0.953, 0.642, 0.982, 0.921, 1.043, 1.046, 0.697, 0.761, 0.636, 0.851, 0.79, 1.354, 1.479, 1.415, 1.726, 0.755, 1.04, 0.659, 0.72, 4.967, 4.86, 4.592, 4.97, 4.857, 1.281, 1.531, 0.749, 1.406, 4.921, 1.031, 0.843, 0.714, 0.778, 0.718, 1.028, 1.778, 1.4, 0.682, 1.65, 0.737, 0.987, 0.702, 0.827, 1.266, 1.016, 0.731, 0.885, 0.635, 4.961, 1.26, 4.964, 4.955, 1.51, 0.914, 1.757, 0.754, 1.629, 0.719, 0.748, 0.873, 0.937, 1.687, 1.498, 1.059, 0.838, 0.652, 0.742, 0.896, 0.707, 0.646, 0.771, 0.861, 0.768, 4.858, 1.05, 4.864, 4.12, 4.794, 0.64, 4.245, 1.614, 0.73, 1.291, 1.483, 1.041, 0.695, 1.044, 0.849, 0.788, 0.724, 1.41, 1.035, 1.602, 1.224, 0.878, 1.099, 1.663, 1.538, 0.884, 0.654, 0.904, 0.715, 0.886, 0.773, 1.029, 0.739, 0.898, 0.977, 1.032, 4.965, 4.343, 1.215, 4.663, 0.741, 0.77, 0.645, 0.706, 1.334, 1.392, 1.27, 0.735, 1.52, 0.825, 0.7, 0.889, 1.453, 1.264, 1.703, 0.668, 0.729, 0.854, 0.883, 0.944, 0.819, 1.072, 0.723, 0.877, 0.752, 4.947, 1.252, 4.956, 0.717, 0.81, 0.996, 1.435, 0.9, 0.65, 0.74, 1.365, 0.644, 0.859, 1.048, 1.423, 0.699, 0.728, 4.856, 4.865, 1.039, 0.882, 5.045, 0.722, 0.876, 0.782, 3.853, 0.716, 0.905, 0.655, 1.344, 1.405, 1.466, 0.809, 0.87, 1.03, 0.899, 0.835, 0.71, 0.649, 1.085, 0.803, 0.704, 0.893, 0.829, 0.643, 4.966, 1.268, 4.96, 4.076, 4.021, 0.797, 1.64, 0.721, 0.672, 0.637, 0.762, 1.262, 1.259, 1.384, 3.329, 0.881, 0.942, 0.692, 1.445, 0.846}


19. nr.employed : 11 -> 正則化
{4963.6, 5191.0, 5195.8, 5099.1, 5228.1, 5008.7, 5076.2, 5023.5, 5017.5, 5176.3, 4991.6}


20. y : 2 -> One-Hot
{'yes', 'no'}

In [5]:
input_df['job'][0]

'blue-collar'

In [6]:
# 建立one-hot用的dictionary
one_hot_dict = dict()
for i in input_df.columns:
    one_hot_dict[i] = list(set(input_df[i]))
# 先將要one-hot的欄位改成數字
input_df_one_hot = input_df.copy()
for i in input_df_one_hot.columns:
    if i == 'job' or i == 'marital' or i == 'education' or i == 'default' or i == 'housing' or i == 'loan' or i == 'contact' or i == 'month' or i == 'day_of_week' or i == 'pdays' or i =='previous' or i == 'poutcome' or i == 'y':
        for j in range(len(input_df_one_hot[i])):
            input_df_one_hot[i][j] = one_hot_dict[i].index(input_df_one_hot[i][j])
        #input_df_one_hot.rename(columns={i:i + '_one-hot'}, inplace = True)

C:\Users\User\AppData\Local\Temp/ipykernel_14316/3018114939.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  input_df_one_hot[i][j] = one_hot_dict[i].index(input_df_one_hot[i][j])

In [7]:
input_df_one_hot

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,30,8,2,7,2,0,2,1,1,2,...,2,20,0,2,-1.8,92.893,-46.2,1.313,5099.1,1
1,39,2,1,0,2,2,2,0,1,2,...,4,20,0,2,1.1,93.994,-36.4,4.855,5191.0,1
2,25,2,2,0,2,0,2,0,8,4,...,1,20,0,2,1.4,94.465,-41.8,4.962,5228.1,1
3,38,2,2,7,2,1,1,0,8,2,...,3,20,0,2,1.4,94.465,-41.8,4.959,5228.1,1
4,47,3,2,5,2,0,2,1,6,0,...,1,20,0,2,-0.1,93.200,-42.0,4.191,5195.8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4114,30,3,2,4,2,0,0,1,7,1,...,1,20,0,2,1.4,93.918,-42.7,4.958,5228.1,1
4115,39,3,2,0,2,0,2,0,7,2,...,1,20,0,2,1.4,93.918,-42.7,4.959,5228.1,1
4116,27,10,1,0,2,2,2,1,1,0,...,2,20,1,1,-1.8,92.893,-46.2,1.354,5099.1,1
4117,58,3,2,0,2,2,2,1,3,2,...,1,20,0,2,1.4,93.444,-36.1,4.966,5228.1,1
4118,34,1,1,0,2,0,2,1,6,4,...,1,20,0,2,-0.1,93.200,-42.0,4.120,5195.8,1

In [8]:
# one hot 處理函式
def one_hot_encoding(input_number, category_size = 10):
    temp = np.zeros(category_size)
    temp[int(input_number)] = 1
    return temp

# 正規化處理函式
def normalize(input_number, max_, min_):
    return np.array((input_number - min_) / (max_ - min_))

In [9]:
input_df_one_hot[0:1]
input_df_one_hot[0:1]['age']+1
input_df_one_hot['age'].mean()
one_hot_dict['job']
one_hot_dict['y']
input_df_one_hot.index

RangeIndex(start=0, stop=4119, step=1)

In [21]:
X = list()
Y = list()
for j in range(input_df_one_hot.index.stop):
    df = input_df_one_hot[j:j+1]
    x = list()
    #x.append(np.array(normalize(df['age'], input_df_one_hot['age'].max(), input_df_one_hot['age'].min())))
    for i in input_df_one_hot.columns:
        if i == 'y':
            Y.append(one_hot_encoding(df[i], len(one_hot_dict[i])))
        elif i == 'job' or i == 'marital' or i == 'education' or i == 'default' or i == 'housing' or i == 'loan' or i == 'contact' or i == 'month' or i == 'day_of_week' or i == 'pdays' or i =='previous' or i == 'poutcome':
            x.append(one_hot_encoding(df[i], len(one_hot_dict[i])))
        else:
            x.append(normalize(df[i], input_df_one_hot[i].max(), input_df_one_hot[i].min()))
    X.append(x)

In [22]:
len(X), len(Y)
type(X[0][2])
len(X[0])

20

In [23]:
# 將list中的陣列串接
from tqdm import trange
for i in trange(len(X)):
    temp_x = X[i][0]
    for j in range(1, len(X[i])):
        temp_x = np.concatenate((temp_x, X[i][j]), axis=None)
    X[i] = temp_x
    del temp_x

100%|███████████████████████████████████████████████████████████████████████████| 4119/4119 [00:00<00:00, 23153.82it/s]

In [ ]:
# 切割成train, test, validation

In [40]:
def relu(input_array):
    for i in range(len(input_array)):
        if input_array[i]< 0:
            input_array[i] = 0
    return input_array

In [41]:
test = [-1, 2, 0, 3, -5]
relu(test)

[0, 2, 0, 3, 0]

In [50]:
def softmax(input_array):
    return np.exp(input_array)/sum(np.exp(input_array))
def softmax_2(input_array):
    input_array = input_array - input_array.max()
    return np.exp(input_array)/sum(np.exp(input_array))

In [52]:
test = np.array([-1, 2, 0, 3, -5])
print(softmax(test))
print(sum(softmax(test)))
print(softmax_2(test))
print(sum(softmax_2(test)))

[1.27518028e-02 2.56126805e-01 3.46629937e-02 6.96224841e-01
 2.33557415e-04]
1.0
[1.27518028e-02 2.56126805e-01 3.46629937e-02 6.96224841e-01
 2.33557415e-04]
1.0

In [67]:
def differential_relu(input_array):
    for i in range(len(input_array)):
        if input_array[i]<= 0:
            input_array[i] = 0
        else:
            input_array[i] = 1
    return input_array

In [68]:
test = np.array([-1, 2, 0, 3, -5])
differential_relu(test)

array([0, 1, 0, 1, 0])

In [28]:
class dense_layer:
    
    def __init__(self, units=40, input_shape=20, activation="relu"):
        super(dense_layer, self).__init__()
        self.units = units
        self.weight = np.reshape(np.random.uniform(0, 1, units*input_shape), (units, input_shape))
        self.bias = np.random.uniform(0, 1, units)
        self.activation = activation
        self.result = np.zeros(units)

In [60]:
class my_model:
    
    def __init__(self, input_units=20, units_of_hidden_layer=[40], activation_of_hidden_layer=["relu"], output_units=10):
        # 檢查隱藏層的參數數量有沒有一致
        if len(units_of_hidden_layer) != len(activation_of_hidden_layer):
            raise BaseException("Hidden Layer Parameter not match!")
            
        super(my_model, self).__init__()
        self.length_of_model = len(units_of_hidden_layer)
        self.layer_list = list()
        
        # create first hidden layer
        self.layer_list.append(dense_layer(units_of_hidden_layer[0], input_units, activation_of_hidden_layer[0]))
        
        # create the rest hidden layer
        for i in range(1, self.length_of_model):
            self.layer_list.append(dense_layer(units_of_hidden_layer[i], units_of_hidden_layer[i-1], activation_of_hidden_layer[i]))
            
        # create output layer
        self.layer_list.append(dense_layer(output_units, units_of_hidden_layer[-1], activation="softmax"))
        
    def feed_forward(self, x, y): #calculate and save the parameter for backpropagation later
        if self.layer_list[0].activation == 'relu': # need more activation function
            result = relu(self.layer_list[0].weight.dot(x.T) + self.layer_list[0].bias)
        for layer_index in range(1, len(self.layer_list)):
            if self.layer_list[layer_index].activation == 'relu':
                result = relu(self.layer_list[layer_index].weight.dot(result) + self.layer_list[layer_index].bias)
        if self.layer_list[-1].activation == 'softmax':
            result = softmax_2(self.layer_list[-1].weight.dot(result) + self.layer_list[-1].bias)
        print(result)
        
#     def train(self, train_x, train_y, batch_size, epochs):
#         for _ in range(epochs):
#             #shuffle before each epoch
#             from random import shuffle
#             random.shuffle(train_x)
#             for batch_index in range(0, epoch/batch_size, batch_size):
#                 # main feed_forward
#                 for batch_sub_index in range(batch_size):
#                     for layer in layer_list:

In [63]:
test = my_model(input_units=89, units_of_hidden_layer=[40], activation_of_hidden_layer=["relu"], output_units=10)
print(test.length_of_model)
# print(test.layer_list[0].weight.shape)
for i in test.layer_list:
    print(i.weight)
temp_x = np.ones((89))
temp_y = np.random.random((100))
test.feed_forward(temp_x, temp_y)

1
[[0.80705112 0.35883955 0.07387547 ... 0.08078655 0.35592711 0.39903327]
 [0.8526505  0.16878486 0.57526296 ... 0.43499948 0.38890092 0.36579447]
 [0.27736229 0.36746962 0.61398986 ... 0.49239367 0.18904904 0.60025717]
 ...
 [0.79022741 0.97447254 0.12202123 ... 0.17165056 0.00208543 0.98600853]
 [0.29917415 0.36823583 0.85729549 ... 0.35881744 0.1570419  0.99360079]
 [0.6843654  0.59514205 0.11588602 ... 0.62174158 0.14977364 0.13622342]]
[[0.34367365 0.71323857 0.80032875 0.7175568  0.40710645 0.75608717
  0.51274715 0.9243702  0.32011956 0.66149319 0.99916181 0.8386072
  0.18251715 0.52524978 0.02999741 0.90672038 0.27572297 0.61341254
  0.50567133 0.26900067 0.54350442 0.96932135 0.73446578 0.86134967
  0.87917644 0.0285373  0.57428687 0.01780507 0.28166361 0.02246069
  0.53862925 0.73990341 0.54999318 0.82220599 0.52075642 0.21355415
  0.26040194 0.63111104 0.27467471 0.61869703]
 [0.19077995 0.81102107 0.54893691 0.13410384 0.17640895 0.03605835
  0.19675415 0.0094478  0.16866956 0.41737323 0.60486155 0.46991011
  0.41053581 0.14697651 0.10284381 0.32897851 0.44593891 0.07205942
  0.41469382 0.98776095 0.26318189 0.05993669 0.06301438 0.23574632
  0.39238714 0.75691519 0.61901393 0.07117075 0.52971485 0.28597686
  0.26033366 0.0700517  0.529259   0.88530912 0.46788514 0.53145416
  0.72430901 0.27678207 0.73740154 0.25913519]
 [0.39411337 0.78832823 0.09505293 0.14011677 0.4149976  0.78596202
  0.60297626 0.92457623 0.95888377 0.24014904 0.76845135 0.33661791
  0.71092458 0.00878776 0.68185672 0.99687582 0.03971485 0.39403702
  0.31644051 0.41255697 0.17512344 0.99567866 0.08005533 0.42917913
  0.66643008 0.67547968 0.74471857 0.77644079 0.92732581 0.4854296
  0.71071726 0.20140715 0.29998929 0.86653051 0.38273309 0.49777832
  0.04532485 0.07964398 0.52324612 0.58657606]
 [0.60439483 0.35592087 0.29071102 0.48372635 0.78264145 0.59851984
  0.53446319 0.29527279 0.67854419 0.94333451 0.30489246 0.92345046
  0.78725751 0.55443855 0.54067916 0.63193154 0.5270736  0.81303958
  0.1139852  0.10478018 0.93473842 0.22472361 0.95560601 0.62804473
  0.43254098 0.83485661 0.10191636 0.74439974 0.43873471 0.75625559
  0.44749414 0.50263157 0.51043291 0.11796907 0.76917664 0.26278199
  0.20906113 0.52736134 0.23246014 0.9745307 ]
 [0.34170065 0.74111496 0.91141726 0.59223578 0.38127764 0.15313671
  0.640641   0.74025953 0.2083641  0.87716611 0.66771168 0.45239104
  0.00314709 0.33337969 0.86304438 0.79967728 0.17437027 0.86893618
  0.99395797 0.09180394 0.9374221  0.52386119 0.57022508 0.60101133
  0.60471559 0.87185301 0.40683771 0.01689156 0.98928555 0.78038935
  0.37389673 0.62191168 0.12033341 0.49607393 0.07751582 0.46331532
  0.31340169 0.66673563 0.52819562 0.1684305 ]
 [0.14309337 0.64357021 0.41049676 0.34268879 0.90093934 0.69378906
  0.00652065 0.7284915  0.38123537 0.44678143 0.57504283 0.88315349
  0.00848532 0.22560156 0.5963019  0.01924692 0.67589646 0.10709123
  0.76556455 0.80274662 0.0045332  0.18525245 0.56807048 0.96584595
  0.38835367 0.74139225 0.51855595 0.82396575 0.4337644  0.80405246
  0.8729257  0.80934211 0.10783797 0.36029095 0.84566235 0.20222672
  0.36348707 0.31612166 0.65053354 0.30093882]
 [0.94575724 0.18556357 0.37435919 0.81955383 0.99816295 0.81897628
  0.97770437 0.41031895 0.02159404 0.0943677  0.97542322 0.92049485
  0.701257   0.26112953 0.68928737 0.03567725 0.69482657 0.18767529
  0.57189813 0.18688325 0.45330689 0.36198238 0.40853363 0.49277068
  0.0778308  0.95003065 0.09406347 0.60454681 0.1845441  0.78489179
  0.29751785 0.05072843 0.58954222 0.75410866 0.22950729 0.41341218
  0.13370603 0.82948432 0.66195251 0.95908085]
 [0.66655536 0.36552535 0.35687    0.35922529 0.87702679 0.60445618
  0.27317307 0.41092106 0.16603718 0.70765089 0.07458039 0.69039578
  0.35970164 0.00336719 0.52649788 0.25858424 0.294398   0.76165945
  0.51724009 0.06215699 0.65892998 0.0787365  0.78989403 0.33033787
  0.90450224 0.63611876 0.44872637 0.55436943 0.92926681 0.55938218
  0.19630036 0.82487861 0.30107547 0.17152304 0.5087853  0.64935145
  0.20962743 0.05513478 0.96744282 0.48463705]
 [0.94256867 0.46613732 0.43663953 0.37475493 0.23510628 0.84369257
  0.35991381 0.26099462 0.78258016 0.03009561 0.94030578 0.16379986
  0.89117693 0.298958   0.18758559 0.76384501 0.53765461 0.4222937
  0.32907086 0.86002198 0.15391412 0.62231192 0.43185535 0.15231423
  0.17623726 0.10350708 0.02539085 0.13712122 0.01311478 0.5297716
  0.88306433 0.1550367  0.73021677 0.70918752 0.20318372 0.05369719
  0.50031246 0.19608861 0.21567002 0.98083501]
 [0.22228418 0.89423311 0.29046006 0.94796324 0.34312192 0.15836826
  0.739829   0.99262324 0.03036751 0.49123885 0.21794555 0.13202409
  0.69872912 0.46379442 0.93514011 0.42214309 0.44075708 0.59485818
  0.05060217 0.80592882 0.53668285 0.74606335 0.0467749  0.66317436
  0.60637455 0.82223708 0.78097128 0.49724752 0.36214429 0.14106471
  0.75630648 0.3005716  0.68664439 0.24128298 0.13011897 0.45856251
  0.60259456 0.34673858 0.1704797  0.34836974]]
[5.55106398e-002 2.25764975e-132 7.24662025e-026 9.44489359e-001
 8.56697659e-010 8.13315540e-039 1.62045088e-023 2.53926409e-056
 6.55277027e-086 1.52551576e-044]