## 引用函式庫 ##

In [1]:
import numpy as np
import pandas as pd

## 資料前處理

In [2]:
input_df = pd.read_csv('bank-additional.csv', header=0, sep=';')

In [3]:
input_df

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
1,39,services,single,high.school,no,no,no,telephone,may,fri,...,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
2,25,services,married,high.school,no,yes,no,telephone,jun,wed,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no
3,38,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,3,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4,47,admin.,married,university.degree,no,yes,no,cellular,nov,mon,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4114,30,admin.,married,basic.6y,no,yes,yes,cellular,jul,thu,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.958,5228.1,no
4115,39,admin.,married,high.school,no,yes,no,telephone,jul,fri,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.959,5228.1,no
4116,27,student,single,high.school,no,no,no,cellular,may,mon,...,2,999,1,failure,-1.8,92.893,-46.2,1.354,5099.1,no
4117,58,admin.,married,high.school,no,no,no,cellular,aug,fri,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.966,5228.1,no
4118,34,management,single,high.school,no,yes,no,cellular,nov,wed,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.120,5195.8,no

In [4]:
how_to_handle_columns = [0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1]
for i, j in enumerate(input_df.columns):
    if (how_to_handle_columns[i] == 0):
        print('{}. {} : {} -> {}\n{}\n\n'.format(i, j, len(set(input_df[j])), '正則化', set(input_df[j])))
    else:
        print('{}. {} : {} -> {}\n{}\n\n'.format(i, j, len(set(input_df[j])), 'One-Hot', set(input_df[j])))

0. age : 67 -> 正則化
{18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 80, 81, 82, 85, 86, 88}


1. job : 12 -> One-Hot
{'entrepreneur', 'student', 'services', 'unknown', 'unemployed', 'technician', 'blue-collar', 'housemaid', 'management', 'retired', 'admin.', 'self-employed'}


2. marital : 4 -> One-Hot
{'divorced', 'married', 'unknown', 'single'}


3. education : 8 -> One-Hot
{'professional.course', 'university.degree', 'illiterate', 'basic.9y', 'unknown', 'basic.4y', 'basic.6y', 'high.school'}


4. default : 3 -> One-Hot
{'no', 'unknown', 'yes'}


5. housing : 3 -> One-Hot
{'no', 'unknown', 'yes'}


6. loan : 3 -> One-Hot
{'no', 'unknown', 'yes'}


7. contact : 2 -> One-Hot
{'telephone', 'cellular'}


8. month : 10 -> One-Hot
{'mar', 'jun', 'jul', 'may', 'oct', 'nov', 'sep', 'aug', 'apr', 'dec'}


9. day_of_week : 5 -> One-Hot
{'mon', 'wed', 'fri', 'tue', 'thu'}


10. duration : 828 -> 正則化
{0, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 2301, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 438, 439, 440, 441, 442, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 463, 464, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 501, 502, 503, 504, 505, 506, 507, 508, 509, 511, 513, 514, 515, 516, 517, 519, 520, 521, 522, 523, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 536, 537, 539, 540, 541, 542, 543, 544, 545, 546, 548, 549, 550, 551, 553, 556, 557, 559, 562, 565, 566, 567, 568, 569, 570, 571, 575, 577, 578, 580, 581, 582, 584, 585, 587, 588, 589, 590, 591, 592, 593, 595, 596, 597, 599, 600, 602, 604, 605, 2653, 606, 608, 609, 607, 611, 614, 616, 617, 618, 619, 620, 621, 623, 624, 626, 627, 628, 629, 630, 632, 633, 634, 636, 637, 638, 640, 641, 643, 644, 645, 646, 649, 650, 651, 653, 655, 657, 658, 659, 662, 663, 665, 667, 668, 671, 673, 674, 675, 677, 679, 681, 683, 686, 687, 688, 689, 690, 693, 696, 697, 698, 699, 700, 701, 702, 704, 705, 706, 711, 712, 713, 715, 716, 718, 720, 721, 722, 723, 725, 726, 727, 728, 738, 739, 740, 742, 747, 748, 749, 750, 754, 757, 758, 760, 762, 764, 766, 767, 768, 769, 770, 771, 772, 775, 776, 780, 781, 782, 784, 789, 796, 797, 799, 800, 801, 802, 805, 806, 807, 809, 813, 814, 815, 818, 820, 823, 825, 829, 834, 835, 837, 838, 840, 843, 846, 848, 849, 854, 855, 857, 861, 867, 868, 869, 873, 879, 881, 882, 886, 888, 891, 892, 894, 895, 898, 901, 903, 919, 938, 941, 951, 952, 955, 958, 979, 980, 984, 988, 992, 996, 997, 999, 1002, 1005, 1009, 1011, 1012, 1013, 1014, 1019, 1045, 1046, 1058, 1062, 1065, 1067, 1068, 1074, 1076, 1087, 1090, 1091, 1092, 1105, 1111, 1114, 1119, 1127, 1128, 1130, 1132, 1135, 1138, 1143, 1148, 1149, 1150, 1152, 1161, 1167, 1170, 1171, 1176, 1183, 1185, 1186, 1190, 1195, 1203, 3253, 1207, 1221, 1234, 1241, 1259, 1276, 254, 1288, 1298, 1300, 1311, 1319, 1327, 1332, 1334, 1340, 1348, 1353, 1357, 1360, 1365, 1386, 1422, 1424, 1432, 1438, 1441, 1447, 1468, 1476, 1551, 1590, 3643, 1602, 1628, 1720, 1806, 1820, 1855, 1868, 1980}


11. campaign : 25 -> 正則化
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 22, 23, 24, 27, 29, 35}


12. pdays : 21 -> One-Hot
{0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 21, 999}


13. previous : 7 -> One-Hot
{0, 1, 2, 3, 4, 5, 6}


14. poutcome : 3 -> One-Hot
{'nonexistent', 'success', 'failure'}


15. emp.var.rate : 10 -> 正則化
{-0.1, 1.1, 1.4, -0.2, -1.8, -1.7, -3.0, -3.4, -2.9, -1.1}


16. cons.price.idx : 26 -> 正則化
{93.79799999999999, 92.89299999999999, 92.20100000000001, 92.649, 92.713, 92.756, 93.369, 93.749, 93.075, 93.994, 93.876, 94.465, 94.199, 94.215, 92.469, 92.84299999999999, 94.055, 94.76700000000001, 92.963, 94.601, 92.37899999999999, 92.431, 93.2, 93.91799999999999, 93.444, 94.027}


17. cons.conf.idx : 26 -> 正則化
{-40.3, -40.0, -40.4, -50.0, -49.5, -50.8, -47.1, -46.2, -45.9, -42.0, -41.8, -40.8, -42.7, -39.8, -38.3, -36.1, -37.5, -34.6, -36.4, -34.8, -33.6, -31.4, -29.8, -30.1, -33.0, -26.9}


18. euribor3m : 234 -> 正則化
{0.879, 1.3130000000000002, 0.639, 1.327, 4.959, 4.191, 4.855, 4.962, 4.1530000000000005, 4.958, 4.968, 4.859, 4.963, 4.957, 1.25, 1.811, 0.965, 4.0760000000000005, 1.244, 1.0, 0.677, 0.767, 0.953, 0.642, 0.6679999999999999, 0.982, 1.2990000000000002, 1.0490000000000002, 1.043, 1.046, 0.636, 1.7990000000000002, 0.851, 0.79, 0.7290000000000001, 0.8540000000000001, 1.354, 1.479, 1.415, 0.9440000000000001, 0.8190000000000001, 1.726, 0.755, 1.04, 0.659, 0.72, 4.967, 4.86, 4.592, 4.97, 4.8660000000000005, 4.9639999999999995, 1.281, 4.857, 1.531, 1.406, 1.031, 0.843, 0.7170000000000001, 0.778, 0.718, 1.028, 1.778, 1.4, 0.682, 1.65, 0.7240000000000001, 0.737, 0.987, 1.266, 1.016, 0.8590000000000001, 0.731, 0.885, 0.6990000000000001, 0.635, 4.961, 1.26, 4.955, 1.51, 0.914, 1.757, 0.754, 0.8759999999999999, 1.6869999999999998, 1.629, 0.748, 0.873, 0.937, 0.838, 0.652, 0.742, 0.8029999999999999, 1.4980000000000002, 1.0590000000000002, 0.7390000000000001, 0.861, 4.864, 1.05, 4.12, 4.794, 0.64, 4.245, 0.8290000000000001, 1.614, 0.73, 1.291, 1.483, 1.041, 0.695, 0.8809999999999999, 1.6019999999999999, 1.044, 1.41, 1.035, 1.224, 0.9420000000000001, 0.878, 1.099, 1.663, 0.6920000000000001, 1.538, 0.884, 0.654, 0.7020000000000001, 0.904, 0.715, 0.773, 0.898, 0.977, 0.9, 0.7040000000000001, 1.032, 0.6829999999999999, 4.965, 4.8580000000000005, 1.0290000000000001, 4.343, 0.8690000000000001, 0.741, 1.215, 4.663, 0.77, 0.9590000000000001, 0.8340000000000001, 0.645, 0.706, 1.334, 1.392, 1.27, 0.735, 0.7090000000000001, 0.9209999999999999, 1.52, 0.8859999999999999, 0.825, 0.7, 0.889, 0.7609999999999999, 1.453, 1.264, 1.703, 4.921, 0.883, 0.6970000000000001, 1.072, 0.723, 0.877, 0.752, 4.947, 1.252, 4.956, 0.81, 0.7490000000000001, 0.996, 1.435, 0.7140000000000001, 0.65, 0.74, 1.365, 0.644, 1.3719999999999999, 1.048, 1.423, 0.8270000000000001, 0.728, 4.856, 4.865, 0.882, 5.045, 0.722, 1.0390000000000001, 0.782, 3.853, 0.716, 0.905, 0.7190000000000001, 0.655, 1.344, 1.405, 1.466, 0.809, 0.87, 1.03, 0.899, 0.835, 0.8959999999999999, 0.71, 0.6459999999999999, 1.085, 0.649, 0.7709999999999999, 3.3289999999999997, 0.7070000000000001, 0.893, 0.643, 0.768, 4.966, 1.268, 4.96, 4.021, 0.797, 0.846, 1.64, 0.721, 0.672, 0.637, 0.762, 1.262, 0.7879999999999999, 1.2590000000000001, 1.445, 1.3840000000000001, 0.8490000000000001}


19. nr.employed : 11 -> 正則化
{4963.6, 5191.0, 5195.8, 5099.1, 5228.1, 5008.7, 5076.2, 5023.5, 5017.5, 5176.3, 4991.6}


20. y : 2 -> One-Hot
{'no', 'yes'}

In [5]:
input_df['job'][0]

'blue-collar'

In [6]:
# 建立one-hot用的dictionary
one_hot_dict = dict()
for i in input_df.columns:
    one_hot_dict[i] = list(set(input_df[i]))
# 先將要one-hot的欄位改成數字
input_df_one_hot = input_df.copy()
for i in input_df_one_hot.columns:
    if i == 'job' or i == 'marital' or i == 'education' or i == 'default' or i == 'housing' or i == 'loan' or i == 'contact' or i == 'month' or i == 'day_of_week' or i == 'pdays' or i =='previous' or i == 'poutcome' or i == 'y':
        for j in range(len(input_df_one_hot[i])):
            input_df_one_hot[i][j] = one_hot_dict[i].index(input_df_one_hot[i][j])
        #input_df_one_hot.rename(columns={i:i + '_one-hot'}, inplace = True)

<ipython-input-6-d1a2c94fb588>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  input_df_one_hot[i][j] = one_hot_dict[i].index(input_df_one_hot[i][j])

In [7]:
input_df_one_hot

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,30,6,1,3,0,2,0,1,3,2,...,2,20,0,0,-1.8,92.893,-46.2,1.313,5099.1,0
1,39,2,3,7,0,0,0,0,3,2,...,4,20,0,0,1.1,93.994,-36.4,4.855,5191.0,0
2,25,2,1,7,0,2,0,0,1,1,...,1,20,0,0,1.4,94.465,-41.8,4.962,5228.1,0
3,38,2,1,3,0,1,1,0,1,2,...,3,20,0,0,1.4,94.465,-41.8,4.959,5228.1,0
4,47,10,1,1,0,2,0,1,5,0,...,1,20,0,0,-0.1,93.200,-42.0,4.191,5195.8,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4114,30,10,1,6,0,2,2,1,2,4,...,1,20,0,0,1.4,93.918,-42.7,4.958,5228.1,0
4115,39,10,1,7,0,2,0,0,2,2,...,1,20,0,0,1.4,93.918,-42.7,4.959,5228.1,0
4116,27,1,3,7,0,0,0,1,3,0,...,2,20,1,2,-1.8,92.893,-46.2,1.354,5099.1,0
4117,58,10,1,7,0,0,0,1,7,2,...,1,20,0,0,1.4,93.444,-36.1,4.966,5228.1,0
4118,34,8,3,7,0,2,0,1,5,1,...,1,20,0,0,-0.1,93.200,-42.0,4.120,5195.8,0

In [8]:
# one hot 處理函式
def one_hot_encoding(input_number, category_size = 10):
    temp = np.zeros(category_size)
    temp[int(input_number)] = 1
    return temp

# 正規化處理函式
def normalize(input_number, max_, min_):
    return np.array((input_number - min_) / (max_ - min_))

In [9]:
input_df_one_hot[0:1]
input_df_one_hot[0:1]['age']+1
input_df_one_hot['age'].mean()
one_hot_dict['job']
one_hot_dict['y']
input_df_one_hot.index

RangeIndex(start=0, stop=4119, step=1)

In [10]:
X = list()
Y = list()
for j in range(input_df_one_hot.index.stop):
    df = input_df_one_hot[j:j+1]
    x = list()
    #x.append(np.array(normalize(df['age'], input_df_one_hot['age'].max(), input_df_one_hot['age'].min())))
    for i in input_df_one_hot.columns:
        if i == 'y':
            Y.append(one_hot_encoding(df[i], len(one_hot_dict[i])))
        elif i == 'job' or i == 'marital' or i == 'education' or i == 'default' or i == 'housing' or i == 'loan' or i == 'contact' or i == 'month' or i == 'day_of_week' or i == 'pdays' or i =='previous' or i == 'poutcome':
            x.append(one_hot_encoding(df[i], len(one_hot_dict[i])))
        else:
            x.append(normalize(df[i], input_df_one_hot[i].max(), input_df_one_hot[i].min()))
    X.append(x)

In [12]:
len(X), len(Y)
type(X[0][2])
len(X[0])
print(X[0])

[array([0.17142857]), array([0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0.]), array([0., 1., 0., 0.]), array([0., 0., 0., 1., 0., 0., 0., 0.]), array([1., 0., 0.]), array([0., 0., 1.]), array([1., 0., 0.]), array([0., 1.]), array([0., 0., 0., 1., 0., 0., 0., 0., 0., 0.]), array([0., 0., 1., 0., 0.]), array([0.13368103]), array([0.02941176]), array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 1.]), array([1., 0., 0., 0., 0., 0., 0.]), array([1., 0., 0.]), array([0.33333333]), array([0.26968044]), array([0.19246862]), array([0.1537415]), array([0.51228733])]

In [13]:
# 將list中的陣列串接
from tqdm import trange
for i in trange(len(X)):
    temp_x = X[i][0]
    for j in range(1, len(X[i])):
        temp_x = np.concatenate((temp_x, X[i][j]), axis=None)
    X[i] = temp_x
    del temp_x

100%|███████████████████████████████████████████████████████████████████████████| 4119/4119 [00:00<00:00, 18757.93it/s]

In [14]:
# 切割成train, test, validation
X = np.array(X)
Y = np.array(Y)
print(X.shape)

(4119, 89)

In [15]:
def relu(input_array):
    input_array = np.array(input_array)
    input_array[input_array < 0] = 0
    return input_array
#     print(len(input_array.shape))
#     if len(input_array.shape) == 2:
        
#     else:
#         for i in range(len(input_array)):
#             if input_array[i] < 0:
#                 input_array[i] = 0
#         return input_array

In [16]:
test = [-1, 2, 0, 3, -5]
relu(test)

array([0, 2, 0, 3, 0])

In [17]:
def softmax(input_array):
    return np.exp(input_array)/sum(np.exp(input_array))
def softmax_2(input_array):
    input_array = input_array - input_array.max()
    return np.exp(input_array)/sum(np.exp(input_array))

In [18]:
test = np.array([-1, 2, 0, 3, -5])
print(softmax(test))
print(sum(softmax(test)))
print(softmax_2(test))
print(sum(softmax_2(test)))

[1.27518028e-02 2.56126805e-01 3.46629937e-02 6.96224841e-01
 2.33557415e-04]
1.0
[1.27518028e-02 2.56126805e-01 3.46629937e-02 6.96224841e-01
 2.33557415e-04]
1.0

In [19]:
def differential_relu(input_array):
    for i in range(len(input_array)):
        if input_array[i]<= 0:
            input_array[i] = 0
        else:
            input_array[i] = 1
    return input_array

In [20]:
test = np.array([-1, 2, 0, 3, -5])
differential_relu(test)

array([0, 1, 0, 1, 0])

In [21]:
def MSE(result, label):
    # check if the dimension is the same
    if (result.shape[-1] != len(label)):
        raise BaseException("MSE error, array length don't match {}, {}".format(result.shape, label.shape))
    return 0.5 * sum((result - label.T) ** 2)

In [59]:
test = np.array([0, 0, 0, 0, 0])
test_2 = np.array([1, 0, 1, 1, 1])
test = np.random.random((2, 16))
test_2 = np.random.random((16, 2))
MSE(test, test_2)

array([0.0057999 , 0.19283379, 0.01132648, 0.17296236, 0.11414436,
       0.23926071, 0.18834887, 0.01642253, 0.38123719, 0.1798046 ,
       0.28208914, 0.40950636, 0.10684214, 0.10784035, 0.23034204,
       0.03621605])

In [85]:
def calculate_acc(result, label):
    temp = result.T
    result = np.zeros_like(temp)
    result[np.arange(len(temp)), temp.argmax(1)] = 1
    acc = 0
    amount = result.shape[0]
    for i in range(amount):
        if np.array_equal(result[i], label[i]):
            acc += 1
    print("acc: ", acc/amount)
    
    return acc / amount

In [86]:
test = np.random.random((2, 2))
test_2 = np.identity(2)
calculate_acc(test, test_2)

acc:  0.5

0.5

In [24]:
class dense_layer:
    
    def __init__(self, units=40, input_shape=20, activation="relu"):
        super(dense_layer, self).__init__()
        self.units = units
        self.weight = np.reshape(np.random.uniform(0, 1, units*input_shape), (units, input_shape))
        self.bias = np.random.uniform(0, 1, units)
        self.activation = activation
        self.result = np.zeros(units)

In [91]:
class my_model:
    
    def __init__(self, input_units=20, units_of_hidden_layer=[40], activation_of_hidden_layer=["relu"], output_units=10):
        # 檢查隱藏層的參數數量有沒有一致
        if len(units_of_hidden_layer) != len(activation_of_hidden_layer):
            raise BaseException("Hidden Layer Parameter not match!")
            
        super(my_model, self).__init__()
        self.length_of_model = len(units_of_hidden_layer)
        self.layer_list = list()
        
        # create first hidden layer
        self.layer_list.append(dense_layer(units_of_hidden_layer[0], input_units, activation_of_hidden_layer[0]))
        
        # create the rest hidden layer
        for i in range(1, self.length_of_model):
            self.layer_list.append(dense_layer(units_of_hidden_layer[i], units_of_hidden_layer[i-1], activation_of_hidden_layer[i]))
            
        # create output layer
        self.layer_list.append(dense_layer(output_units, units_of_hidden_layer[-1], activation="softmax"))
        
        # save parameter
        self.loss = list()
        self.val_loss = list()
        self.accuracy = list()
        self.val_accuracy = list()
        
        
        
    def feed_forward(self, x, y): #calculate and save the parameter for backpropagation later
        if self.layer_list[0].activation == 'relu': # need more activation function
            result = relu(self.layer_list[0].weight.dot(x.T))
            self.layer_list[0].result = result # save for backpropagation later
        for layer_index in range(1, len(self.layer_list)):
            if self.layer_list[layer_index].activation == 'relu':
                result = relu(self.layer_list[layer_index].weight.dot(result))
                self.layer_list[layer_index].result = result # save for backpropagation later
        if self.layer_list[-1].activation == 'softmax':
            result = softmax_2(self.layer_list[-1].weight.dot(result))
            self.layer_list[-1].result = result # save for backpropagation later
#         print(result)
        return result
        
    def train(self, train_x, train_y, val_x, val_y, batch_size, epochs, loss = "MSE"):
        # 檢查train_x, train_y, val_x, val_y組間長度有無一致
        if (len(train_x) != len(train_y)):
            raise BaseException("train_x's length doesn't fit train_y's length")
        if (len(val_x) != len(val_y)):
            raise BaseException("val_x's length doesn't fit val_y's length")
        # main loop
        for _ in range(epochs):
            from random import shuffle
            shuffle(train_x)
            for batch_index in range(0, len(train_x), batch_size): #len(train_x, batch_size)
                batch_x = train_x[batch_index:batch_index+batch_size]
                batch_y = train_y[batch_index:batch_index+batch_size]
                result = self.feed_forward(batch_x, batch_y)
                result_loss_avg = MSE(result, batch_y)
#                 print(result_loss_avg)
                calculate_acc(result, batch_y)
                
        
        
#     def train(self, train_x, train_y, batch_size, epochs):
#         for _ in range(epochs):
#             #shuffle before each epoch
#             from random import shuffle
#             random.shuffle(train_x)
#             for batch_index in range(0, epoch/batch_size, batch_size):
#                 # main feed_forward
#                 for batch_sub_index in range(batch_size):
#                     for layer in layer_list:

In [93]:
test = my_model(input_units=89, units_of_hidden_layer=[40], activation_of_hidden_layer=["relu"], output_units=2)
# print(test.length_of_model)
# print(test.layer_list[0].weight.shape)
# for i in test.layer_list:
#     print(i.weight.shape)
temp_x = X
temp_y = Y
# test.feed_forward(temp_x, temp_y)
test.train(temp_x, temp_y, temp_x, temp_y, 16, 1)
# test = np.random.random(5)
# print(test)
# from random import shuffle
# shuffle(test)
# print(test)
# test_2 = test[0:2]
# print(test_2)
# temp = np.linspace((1,10),(10,20),5)
# print(temp)
# print(temp.mean(axis = 0))

acc:  0.0
acc:  0.1875
acc:  0.0
acc:  0.1875
acc:  0.25
acc:  0.125
acc:  0.0
acc:  0.0625
acc:  0.3125
acc:  0.125
acc:  0.0625
acc:  0.1875
acc:  0.0625
acc:  0.0
acc:  0.1875
acc:  0.0
acc:  0.1875
acc:  0.0
acc:  0.1875
acc:  0.125
acc:  0.0
acc:  0.125
acc:  0.0625
acc:  0.0625
acc:  0.0
acc:  0.0
acc:  0.125
acc:  0.0
acc:  0.125
acc:  0.25
acc:  0.25
acc:  0.0625
acc:  0.0625
acc:  0.0625
acc:  0.125
acc:  0.125
acc:  0.1875
acc:  0.0625
acc:  0.125
acc:  0.25
acc:  0.0
acc:  0.25
acc:  0.1875
acc:  0.1875
acc:  0.125
acc:  0.125
acc:  0.1875
acc:  0.0
acc:  0.0625
acc:  0.0625
acc:  0.0
acc:  0.0625
acc:  0.0
acc:  0.0625
acc:  0.0625
acc:  0.0625
acc:  0.0625
acc:  0.0
acc:  0.125
acc:  0.125
acc:  0.1875
acc:  0.0625
acc:  0.375
acc:  0.0
acc:  0.0625
acc:  0.125
acc:  0.0
acc:  0.125
acc:  0.1875
acc:  0.1875
acc:  0.125
acc:  0.0
acc:  0.0
acc:  0.0625
acc:  0.125
acc:  0.0
acc:  0.0625
acc:  0.0625
acc:  0.0625
acc:  0.0625
acc:  0.0625
acc:  0.0625
acc:  0.125
acc:  0.0
acc:  0.0625
acc:  0.1875
acc:  0.0
acc:  0.1875
acc:  0.125
acc:  0.125
acc:  0.0
acc:  0.0
acc:  0.125
acc:  0.125
acc:  0.125
acc:  0.0625
acc:  0.125
acc:  0.0625
acc:  0.1875
acc:  0.25
acc:  0.1875
acc:  0.125
acc:  0.1875
acc:  0.3125
acc:  0.1875
acc:  0.125
acc:  0.0
acc:  0.125
acc:  0.0
acc:  0.25
acc:  0.0
acc:  0.0625
acc:  0.25
acc:  0.25
acc:  0.0625
acc:  0.1875
acc:  0.25
acc:  0.0625
acc:  0.0
acc:  0.125
acc:  0.0625
acc:  0.1875
acc:  0.0625
acc:  0.125
acc:  0.0625
acc:  0.1875
acc:  0.0625
acc:  0.25
acc:  0.0
acc:  0.125
acc:  0.125
acc:  0.125
acc:  0.125
acc:  0.1875
acc:  0.0625
acc:  0.1875
acc:  0.125
acc:  0.0625
acc:  0.125
acc:  0.125
acc:  0.125
acc:  0.0625
acc:  0.125
acc:  0.125
acc:  0.1875
acc:  0.125
acc:  0.0
acc:  0.125
acc:  0.1875
acc:  0.0
acc:  0.0625
acc:  0.125
acc:  0.1875
acc:  0.125
acc:  0.0625
acc:  0.125
acc:  0.125
acc:  0.25
acc:  0.1875
acc:  0.0625
acc:  0.0625
acc:  0.1875
acc:  0.0625
acc:  0.0625
acc:  0.1875
acc:  0.1875
acc:  0.0625
acc:  0.125
acc:  0.1875
acc:  0.125
acc:  0.125
acc:  0.125
acc:  0.1875
acc:  0.125
acc:  0.125
acc:  0.0
acc:  0.125
acc:  0.0625
acc:  0.125
acc:  0.125
acc:  0.0
acc:  0.1875
acc:  0.0625
acc:  0.125
acc:  0.1875
acc:  0.125
acc:  0.1875
acc:  0.0625
acc:  0.0
acc:  0.125
acc:  0.25
acc:  0.125
acc:  0.125
acc:  0.0625
acc:  0.25
acc:  0.0625
acc:  0.25
acc:  0.0625
acc:  0.125
acc:  0.25
acc:  0.1875
acc:  0.0
acc:  0.125
acc:  0.25
acc:  0.1875
acc:  0.0625
acc:  0.0625
acc:  0.0625
acc:  0.0625
acc:  0.125
acc:  0.125
acc:  0.0
acc:  0.0
acc:  0.1875
acc:  0.125
acc:  0.25
acc:  0.0625
acc:  0.125
acc:  0.0
acc:  0.125
acc:  0.125
acc:  0.125
acc:  0.125
acc:  0.0625
acc:  0.125
acc:  0.0625
acc:  0.0
acc:  0.3125
acc:  0.0
acc:  0.0
acc:  0.1875
acc:  0.1875
acc:  0.0
acc:  0.0
acc:  0.125
acc:  0.125
acc:  0.0
acc:  0.25
acc:  0.25
acc:  0.0625
acc:  0.0
acc:  0.1875
acc:  0.0625
acc:  0.125
acc:  0.0
acc:  0.0
acc:  0.4375
acc:  0.0625
acc:  0.125
acc:  0.125
acc:  0.0
acc:  0.0625
acc:  0.0625
acc:  0.0
acc:  0.125
acc:  0.125
acc:  0.0
acc:  0.0