## 引用函式庫 ##

In [1]:
import numpy as np
import pandas as pd

## 資料前處理

In [2]:
input_df = pd.read_csv('bank-additional.csv', header=0, sep=';')

In [3]:
input_df

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
1,39,services,single,high.school,no,no,no,telephone,may,fri,...,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
2,25,services,married,high.school,no,yes,no,telephone,jun,wed,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no
3,38,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,3,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4,47,admin.,married,university.degree,no,yes,no,cellular,nov,mon,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4114,30,admin.,married,basic.6y,no,yes,yes,cellular,jul,thu,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.958,5228.1,no
4115,39,admin.,married,high.school,no,yes,no,telephone,jul,fri,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.959,5228.1,no
4116,27,student,single,high.school,no,no,no,cellular,may,mon,...,2,999,1,failure,-1.8,92.893,-46.2,1.354,5099.1,no
4117,58,admin.,married,high.school,no,no,no,cellular,aug,fri,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.966,5228.1,no
4118,34,management,single,high.school,no,yes,no,cellular,nov,wed,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.120,5195.8,no

In [4]:
# 建立one-hot用的dictionary
one_hot_dict = dict()
for i in input_df.columns:
    one_hot_dict[i] = list(set(input_df[i]))
# 先將要one-hot的欄位改成數字
input_df_one_hot = input_df.copy()
for i in input_df_one_hot.columns:
    if i == 'job' or i == 'marital' or i == 'education' or i == 'default' or i == 'housing' or i == 'loan' or i == 'contact' or i == 'month' or i == 'day_of_week' or i == 'pdays' or i =='previous' or i == 'poutcome' or i == 'y':
        for j in range(len(input_df_one_hot[i])):
            input_df_one_hot[i][j] = one_hot_dict[i].index(input_df_one_hot[i][j])
        #input_df_one_hot.rename(columns={i:i + '_one-hot'}, inplace = True)

C:\Users\User\AppData\Local\Temp/ipykernel_11088/3018114939.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  input_df_one_hot[i][j] = one_hot_dict[i].index(input_df_one_hot[i][j])

In [5]:
input_df_one_hot

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,30,2,2,3,1,2,1,0,1,1,...,2,20,0,1,-1.8,92.893,-46.2,1.313,5099.1,0
1,39,1,3,5,1,1,1,1,1,1,...,4,20,0,1,1.1,93.994,-36.4,4.855,5191.0,0
2,25,1,2,5,1,2,1,1,0,4,...,1,20,0,1,1.4,94.465,-41.8,4.962,5228.1,0
3,38,1,2,3,1,0,0,1,0,1,...,3,20,0,1,1.4,94.465,-41.8,4.959,5228.1,0
4,47,9,2,7,1,2,1,0,4,2,...,1,20,0,1,-0.1,93.200,-42.0,4.191,5195.8,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4114,30,9,2,1,1,2,2,0,5,0,...,1,20,0,1,1.4,93.918,-42.7,4.958,5228.1,0
4115,39,9,2,5,1,2,1,1,5,1,...,1,20,0,1,1.4,93.918,-42.7,4.959,5228.1,0
4116,27,8,3,5,1,1,1,0,1,2,...,2,20,1,0,-1.8,92.893,-46.2,1.354,5099.1,0
4117,58,9,2,5,1,1,1,0,2,1,...,1,20,0,1,1.4,93.444,-36.1,4.966,5228.1,0
4118,34,10,3,5,1,2,1,0,4,4,...,1,20,0,1,-0.1,93.200,-42.0,4.120,5195.8,0

In [6]:
# one hot 處理函式
def one_hot_encoding(input_number, category_size = 10):
    temp = np.zeros(category_size)
    temp[int(input_number)] = 1
    return temp

# 正規化處理函式
def normalize(input_number, max_, min_):
    return np.array((input_number - min_) / (max_ - min_))

In [7]:
X = list()
Y = list()
for j in range(input_df_one_hot.index.stop):
    df = input_df_one_hot[j:j+1]
    x = list()
    #x.append(np.array(normalize(df['age'], input_df_one_hot['age'].max(), input_df_one_hot['age'].min())))
    for i in input_df_one_hot.columns:
        if i == 'y':
            Y.append(one_hot_encoding(df[i], len(one_hot_dict[i])))
        elif i == 'job' or i == 'marital' or i == 'education' or i == 'default' or i == 'housing' or i == 'loan' or i == 'contact' or i == 'month' or i == 'day_of_week' or i == 'pdays' or i =='previous' or i == 'poutcome':
            x.append(one_hot_encoding(df[i], len(one_hot_dict[i])))
        else:
            x.append(normalize(df[i], input_df_one_hot[i].max(), input_df_one_hot[i].min()))
    X.append(x)

In [8]:
# 將list中的陣列串接
from tqdm import trange
for i in trange(len(X)):
    temp_x = X[i][0]
    for j in range(1, len(X[i])):
        temp_x = np.concatenate((temp_x, X[i][j]), axis=None)
    X[i] = temp_x
    del temp_x

100%|███████████████████████████████████████████████████████████████████████████| 4119/4119 [00:00<00:00, 24102.74it/s]

In [9]:
# 切割成train, test, validation
X = np.array(X)
Y = np.array(Y)
print(X.shape)

(4119, 89)

In [10]:
def relu(input_array):
    input_array = np.array(input_array)
    input_array[input_array < 0] = 0
    return input_array

In [11]:
def softmax(input_array):
    return np.exp(input_array)/sum(np.exp(input_array))
def softmax_2(input_array):
    input_array = input_array - input_array.max()
    return np.exp(input_array)/sum(np.exp(input_array))

In [12]:
def differential_relu(input_array):
    for i in range(len(input_array)):
        if input_array[i]<= 0:
            input_array[i] = 0
        else:
            input_array[i] = 1
    return input_array

In [13]:
def MSE(result, label):
    # check if the dimension is the same
    if (result.shape[-1] != len(label)):
        raise BaseException("MSE error, array length don't match {}, {}".format(result.shape, label.shape))
    print(0.5 * sum((result - label.T) ** 2))
    return 0.5 * sum((result - label.T) ** 2)

In [14]:
def calculate_acc(result, label):
    temp = result.T
    result = np.zeros_like(temp)
    result[np.arange(len(temp)), temp.argmax(1)] = 1
    acc = 0
    amount = result.shape[0]
    for i in range(amount):
        if np.array_equal(result[i], label[i]):
            acc += 1
    print("acc: ", acc/amount)
    
    return acc / amount

In [15]:
class dense_layer:
    
    def __init__(self, units=40, input_shape=20, activation="relu"):
        super(dense_layer, self).__init__()
        self.units = units
        self.weight = np.reshape(np.random.uniform(0, 1, units*input_shape), (units, input_shape))
        self.bias = np.random.uniform(0, 1, units)
        self.activation = activation
        self.result = np.zeros(units)

In [16]:
class my_model:
    
    def __init__(self, input_units=20, units_of_hidden_layer=[40], activation_of_hidden_layer=["relu"], output_units=10):
        # 檢查隱藏層的參數數量有沒有一致
        if len(units_of_hidden_layer) != len(activation_of_hidden_layer):
            raise BaseException("Hidden Layer Parameter not match!")
            
        super(my_model, self).__init__()
        self.length_of_model = len(units_of_hidden_layer)
        self.layer_list = list()
        
        # create first hidden layer
        self.layer_list.append(dense_layer(units_of_hidden_layer[0], input_units, activation_of_hidden_layer[0]))
        
        # create the rest hidden layer
        for i in range(1, self.length_of_model):
            self.layer_list.append(dense_layer(units_of_hidden_layer[i], units_of_hidden_layer[i-1], activation_of_hidden_layer[i]))
            
        # create output layer
        self.layer_list.append(dense_layer(output_units, units_of_hidden_layer[-1], activation="softmax"))
        
        # save parameter
        self.loss = list()
        self.val_loss = list()
        self.accuracy = list()
        self.val_accuracy = list()
        
        
        
    def feed_forward(self, x, y): #calculate and save the parameter for backpropagation later
        if self.layer_list[0].activation == 'relu': # need more activation function
            result = relu(self.layer_list[0].weight.dot(x.T))
            self.layer_list[0].result = result # save for backpropagation later
        for layer_index in range(1, len(self.layer_list)):
            if self.layer_list[layer_index].activation == 'relu':
                result = relu(self.layer_list[layer_index].weight.dot(result))
                self.layer_list[layer_index].result = result # save for backpropagation later
        if self.layer_list[-1].activation == 'softmax':
            result = softmax_2(self.layer_list[-1].weight.dot(result))
            self.layer_list[-1].result = result # save for backpropagation later
#         print(result)
        return result
        
    def train(self, train_x, train_y, val_x, val_y, batch_size, epochs, loss = "MSE", learning_rate = 0.1):
        # 檢查train_x, train_y, val_x, val_y組間長度有無一致
        if (len(train_x) != len(train_y)):
            raise BaseException("train_x's length doesn't fit train_y's length")
        if (len(val_x) != len(val_y)):
            raise BaseException("val_x's length doesn't fit val_y's length")
        # main loop
        for _ in range(epochs):
            from random import shuffle
            shuffle(train_x)
            for batch_index in range(0, len(train_x), batch_size): #len(train_x, batch_size)
                batch_x = train_x[batch_index:batch_index+batch_size]
                batch_y = train_y[batch_index:batch_index+batch_size]
                batch_result = self.feed_forward(batch_x, batch_y)
                batch_loss_avg = MSE(batch_result, batch_y)
#                 print(result_loss_avg)
                calculate_acc(batch_result, batch_y)
                
                # start backpropagation
                
                
                
        
        
#     def train(self, train_x, train_y, batch_size, epochs):
#         for _ in range(epochs):
#             #shuffle before each epoch
#             from random import shuffle
#             random.shuffle(train_x)
#             for batch_index in range(0, epoch/batch_size, batch_size):
#                 # main feed_forward
#                 for batch_sub_index in range(batch_size):
#                     for layer in layer_list:

In [17]:
test = my_model(input_units=89, units_of_hidden_layer=[40], activation_of_hidden_layer=["relu"], output_units=2)
# print(test.length_of_model)
# print(test.layer_list[0].weight.shape)
# for i in test.layer_list:
#     print(i.weight.shape)
temp_x = X
temp_y = Y
# test.feed_forward(temp_x, temp_y)
test.train(temp_x, temp_y, temp_x, temp_y, 16, 1)
# test = np.random.random(5)
# print(test)
# from random import shuffle
# shuffle(test)
# print(test)
# test_2 = test[0:2]
# print(test_2)
# temp = np.linspace((1,10),(10,20),5)
# print(temp)
# print(temp.mean(axis = 0))

NameError: name 'result' is not defined